@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #09101efa;
  color:#fff;
}
 

a{
 text-decoration: none;
 color:#fff;
 
}
p{
  color: #b3b5b9;
}
/*TODO HEADER Start */
.logo-link{
  color:#28477e;
}
/*  
.header-part{
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content:space-around;
}
.header-part .logo{
  display: flex;
  align-items: center;
}
.header-part .nav-links {
  margin-top: 15px;
}
.btn{
  margin-top: 15px;
}
*/
button{
  color: #fff;
  background-color: #3A68B8;
  border-radius: 5px;
  padding: 7px 15px;
  border: none;
}
.img{
  width: 30px;
}
.nav-links, .btn{
  display: none;
}
.logo{
  display: flex;
  align-items: center;
}
.header-part{
  margin:0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.apply-ai-right{
  width: 300px;
}
.apply-ai-right img{
  width: 100%;
}
.apply-ai-right form{
  width: 150px;
  display: block;
}
.apply-ai-left button{
  margin:  15px 0px;
}
.three-point{
  width: 100px;
  margin:  10px auto;
}
.naxly{
  width: 200px;
  font-size: small;
  margin: 10px auto;
  border: 1px solid transparent ;
  border-radius: 10px;
  background-color: #0f1724;
}
.naxly h1, .naxly-lorem{
  width: 180px;
  margin: auto;
}
.naxly .img-card-naxly{
  width: 100px;
  margin: 10px auto;

}
.nav-links{
  width: 300px;
  justify-content: space-between;

}


.sec-side-right{
  margin: auto;
  width: 300px;

}
.sec-side-right img{
  width: 100%;
}
.sec-side-left{
  width: 300px;
  margin: auto;
}
.sec-side-left .get-started{
  margin: 10px 10px 0px 0px;
}
.sec-partner-logo img{
  display: block;
  margin: auto;
  width: 150px;
  
}
 ul li{
  color:#9d9fa5;
  margin: 20px 0px;
}
footer div p{
  margin: 10px 0px 20px 0px;
}

.color-fff{
  color: #fff;
}
.color-fff img{
  margin:0px 5px 0px 0px;
}
h4{
  margin: 10px 0px;
}
@media(min-width:390px){
  .header-part{
    margin:0px 20px;
  }
}
@media(min-width:768px){
  .fa-bars{
    display: none;
  }
  .header-part{
    margin: 0 auto;
    width: 700px;
    display: flex; 
    justify-content: space-between;  
}
.nav-links,.btn{
  display: flex;
}
.sec-main{
  display: flex;
}
.sec-partner-logo{
  width: 750px;
  margin:  50px auto 0;
  display: flex;
  justify-content: space-around;
}
.sec-partner-logo img{
  width: 150px;
}
.apply-ai-right {
  width: 500px;
}
}
@media(min-width:1080px)
{
  .header-part{
    margin: 0 auto;
    width: 1200px;
    display: flex;
  }
  .header-part .logo{
    display: flex;
    align-items: center;
  }
  .header-part .nav-links {
    margin-top: 10px;
  }
  .btn{
    margin-top: 10px;
  }
  .nav-links,.btn{
    display: flex;
  }
  .fa-bars{
    display: none;
  }
  .sec-side-left h1{
    font-style: normal;
  
  }
  .sec-main{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
  .sec-side-left  {
    margin: 100px 50px;
  }
  .sec-side-left .lorem{
    margin: 20px 0px;
    
  }
  .sec-side-right{
    width: 900px;
  }
  .sec-side-right img{
    width: 100%;
  }
  .get-started{
    margin:0px 20px 0px 0px;
  }
  .sec-partner-logo{
    width: 1100px;
    margin: 75px auto 0;
    display: flex;
    justify-content: space-around;
  }
  .sec-partner-logo img{
    width: 150px;
  }
  .apply-ai{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .apply-ai-left{
    width: 400px;
    
  }
  .apply-ai-left button{
    margin:  15px 0px;
  }
  .naxly{
    width: 300px;
    height: 300px;
    border: 1px solid transparent ;
    border-radius: 10px;
    background-color: #0f1724;
  }
  .naxly .img-card-naxly{
    width: 100px;
    margin: 10px auto;

  }
  .naxly  img{
    width: 100%;
  }

  .naxly h1{
    font-size: 20px; 
    width: 250px;  
    margin: auto; 
  }
  .naxly .naxly-lorem{
    width: 250px;
    margin:10px auto ;
  }
  .cards-all{
    display: flex;
    justify-content: space-between;
  }
  .sec-about{
    display: flex;
    margin: auto;
    width: 1000px;
  }
  
  .sec-about p{
    margin: 15px 0px;
  }
  .left-side{
    width: 500px;
  }
  footer{
    display: flex;
    justify-content: space-around;
  }
  footer div{
    width: 200px;
  }

}
@media(min-width:375px){
  .sec-side-right{
    margin: auto;
    width: 350px;
  }
  .sec-side-right img{
    width: 100%;
  }
  .sec-side-left{
    width: 350px;
    margin: auto;
  }
  .sec-side-left .get-started{
    margin: 10px 10px 0px 0px;
  }
}